{
  "extends": "homeoffice/config/default",
  "rules": {
    "no-unused-vars": "warn",
    "no-process-env": "warn",
    "implicit-dependencies/no-implicit": "off",
    "consistent-return": "off",
    "strict": "off"
  },
  "env": {
    "es6": true
  }
}
