.DS_Store
node_modules/
public
apps/*/translations/*
!apps/*/translations/src
.idea
.DS_Store
apps/.DS_Store
.nyc_output
.env
test/executions
test/coverage
.emails
test/executions
test/coverage
.nyc_output
coverage
