{{<error}}
  {{$propositionHeader}}
    <div class="govuk-header__content">
        <a href="{{startLink}}" class="govuk-header__link govuk-header__link--service-name" id="proposition-name">{{#t}}journey.serviceName{{/t}}</a>
    </div>
  {{/propositionHeader}}

  {{$pageTitle}}
    {{#t}}errors.session.title{{/t}} &ndash; {{#t}}journey.serviceName{{/t}} &ndash; GOV.UK
  {{/pageTitle}}

  {{$content}}
    <h1 class="govuk-heading-l">{{#t}}errors.session.title{{/t}}</h1>
    <p class="govuk-body govuk-!-font-weight-bold">{{#t}}errors.session.message{{/t}}</p>
    <a href="{{startLink}}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      {{#t}}buttons.session-timeout-start-again{{/t}}
    </a>
  {{/content}}
{{/error}}
