{{<partials-page}}
  {{$page-content}}
		<p>Investigating your complaint can take up to 20 working days.</p>

		<h2>To make a complaint, you will need:</h2>
		<ul class="list list-bullet">
			<li>your name, date of birth, email address and telephone number</li>
			<li>any Home Office references that can help with the investigation of your complaint</li>
			<li>the applicant’s name, date of birth and consent, if you’re making a complaint on behalf of someone else.</li>
		</ul>
		<p>You can make your complaint in English or Welsh.</p>
		<p>{{#input-submit}}start{{/input-submit}}</p>

		<p>Complaints that suggest serious professional misconduct will be impartially investigated. This can take up to 12 weeks.</p>
  {{/page-content}}
{{/partials-page}}