@import "$$theme";
@import "govuk-frontend";

.phase-banner {
  @include phase-banner(beta);
}

.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}