@import "hof/frontend/themes/gov-uk/styles/govuk";

.phase-banner {
  @include phase-banner(beta);
}

.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

ul {
  @extend .text;
  @extend .list;
  @extend .list-bullet;
}

a {
  @extend .govuk-link;
}

header {
  margin-top: 0;
}

.govuk-header__logotype{
  display: inline;
}

/* Links instead of regular buttons */
.button-continue .govuk-button {
  background-color: Transparent;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: inherit;
  line-height: 25px;
  -webkit-box-shadow: 0 0px 0 #003618;
  box-shadow: 0 0px 0 #003618;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 1em;
  color: #1d70b8;
  font-size: 1em;
}

.button-continue:active {
  background: #ffdd00;
}

.button-continue .govuk-button:active {
  color: black;
  line-height: 23px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 4px;
  text-decoration: none;
}
