@import "hof/frontend/themes/gov-uk/styles/govuk";

.phase-banner {
  @include phase-banner(beta);
}

.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

/* Links instead of regular buttons */
.button-continue .button {
  background-color: Transparent;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: inherit;
  color: #45297e;
  -webkit-box-shadow: 0 0px 0 #003618;
  box-shadow: 0 0px 0 #003618;
  &:hover, &:active {
    color: #4088c3;
  }
  text-decoration: underline;
  cursor: pointer;
}
