{{<layout}}

{{$header}}
  {{#t}}base.cookiesHead{{/t}}
{{/header}}

{{$content}}
  <p>{{#t}}base.cookies.content.paragraphs.files{{/t}}</p>
  <ul class="list-bullet">
    <li>{{#t}}base.cookies.content.lists.remember{{/t}}</li>
    <li>{{#t}}base.cookies.content.lists.improve{{/t}}</li>
    <li>{{#t}}base.cookies.content.lists.support{{/t}}</li>
  </ul>
  <div class="panel-indent">
    <p>{{#t}}base.cookies.content.paragraphs.personally{{/t}}</p>
  </div>
  <p>{{#t}}base.cookies.content.paragraphs.manage{{/t}}</p>

  <h2>{{#t}}base.cookies.content.headings.intro{{/t}}</h2>
  <p>{{#t}}base.cookies.content.paragraphs.message{{/t}}</p>
  <table>
    <tbody>
      <tr>
        <th>{{#t}}base.cookies.content.tables.name{{/t}}</th>
        <th>{{#t}}base.cookies.content.tables.purpose{{/t}}</th>
        <th>{{#t}}base.cookies.content.tables.expires{{/t}}</th>
      </tr>
      <tr>
        <td>{{#t}}base.cookies.content.tables.seen{{/t}}</td>
        <td>{{#t}}base.cookies.content.tables.seenMessage{{/t}}</td>
        <td>{{#t}}base.cookies.content.tables.oneMonth{{/t}}</td>
      </tr>
    </tbody>
  </table>

  <h2>{{#t}}base.cookies.content.headings.measuring{{/t}}</h2>
  <p>{{#t}}base.cookies.content.paragraphs.analytics{{/t}}</p>
  <p>{{#t}}base.cookies.content.paragraphs.stores{{/t}}</p>
  <ul class="list-bullet">
    <li>{{#t}}base.cookies.content.lists.gotToSite{{/t}}</li>
    <li>{{#t}}base.cookies.content.lists.howLong{{/t}}</li>
    <li>{{#t}}base.cookies.content.lists.clickOn{{/t}}</li>
  </ul>
  <p>{{#t}}base.cookies.content.paragraphs.identified{{/t}}</p>
  <table>
    <tbody>
      <tr>
        <th>{{#t}}base.cookies.content.tables.name{{/t}}</th>
        <th>{{#t}}base.cookies.content.tables.purpose{{/t}}</th>
        <th>{{#t}}base.cookies.content.tables.expires{{/t}}</th>
      </tr>
      <tr>
        <td>{{#t}}base.cookies.content.tables.ga{{/t}}</td>
        <td>{{#t}}base.cookies.content.tables.users{{/t}}</td>
        <td>{{#t}}base.cookies.content.tables.twoYears{{/t}}</td>
      </tr>
      <tr>
        <td>{{#t}}base.cookies.content.tables.gat{{/t}}</td>
        <td>{{#t}}base.cookies.content.tables.throttle{{/t}}</td>
        <td>{{#t}}base.cookies.content.tables.tenMins{{/t}}</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-indent">
    <p>{{#t}}base.cookies.content.paragraphs.share{{/t}}</p>
  </div>
  <p><{{#t}}base.cookies.content.paragraphs.optOut{{/t}}</p>

  <h2>{{#t}}base.cookies.content.headings.session{{/t}}</h2>
  <p>{{#t}}base.cookies.content.paragraphs.secure{{/t}}</p>
  <table>
    <tbody>
      <tr>
        <th>{{#t}}base.cookies.content.tables.name{{/t}}</th>
        <th>{{#t}}base.cookies.content.tables.purpose{{/t}}</th>
        <th>{{#t}}base.cookies.content.tables.expires{{/t}}</th>
      </tr>
      <tr>
        <td>{{#t}}base.cookies.content.tables.hmbrp{{/t}}</td>
        <td>{{#t}}base.cookies.content.tables.sessionId{{/t}}</td>
        <td>{{#t}}base.cookies.content.tables.twentyMins{{/t}}</td>
      </tr>
    </tbody>
  </table>
{{/content}}

{{/layout}}
