{{<layout}}

{{$header}}
  {{#t}}base.conditions{{/t}}
{{/header}}

{{$content}}
  <h2>{{#t}}base.terms.content.headings.information{{/t}}</h2>
  <p>{{#t}}base.terms.content.paragraphs.charter{{/t}}</p>

  <p>{{#t}}base.terms.content.paragraphs.help{{/t}}</p>
  <ul class="list-bullet">
    <li>{{#t}}base.terms.content.lists.decision{{/t}}</li>
    <li>{{#t}}base.terms.content.lists.crime{{/t}}</li>
  </ul>

  <p>{{#t}}base.terms.content.paragraphs.passedOn{{/t}}</p>
  <ul class="list-bullet">
    <li>{{#t}}base.terms.content.lists.accurateInfo{{/t}}</li>
    <li>{{#t}}base.terms.content.lists.fraud{{/t}}</li>
    <li>{{#t}}base.terms.content.lists.training{{/t}}</li>
  </ul>

  <p>{{#t}}base.terms.content.paragraphs.reserves{{/t}}</p>

  <h2>{{#t}}base.terms.content.headings.references{{/t}}</h2>
  <p>{{#t}}base.terms.content.paragraphs.authority{{/t}}</p>
{{/content}}

{{/layout}}
