NODE_ENV=development

REDIS_HOST=hof-redis

# FileVault

# URL of file-vault, this is used when returning a URL upon successful upload to S3
#FILE_VAULT_URL=http://file-vault:3000

# Location of ClamAV rest service
#CLAMAV_REST_URL=

# The maximum file size that Clam AV will scan (bytes). Default is 110100480 (which is 105 MB in bytes)
#MAX_FILE_SIZE=

# A comma separated list of file types that you want to white-list (defaults to everything). If the file is not in this list file-vault will respond with an error.
#FILE_EXTENSION_WHITELIST=

# Length of time (in seconds) for timeouts on http requests made by file-vault (when talking to clamAV and s3, defaults to 15s)
#REQUEST_TIMEOUT=


#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_KMS_KEY_ID=
#AWS_BUCKET=

# AWS Region (defaults to eu-west-1)
#AWS_REGION=

# AWS Signature Version (defaults to v4)
#AWS_SIGNATURE_VERSION=

# A password used to encrypt the params that are returned by file-vault
#AWS_PASSWORD=

#RETURN_ORIGINAL_SIGNED_URL=
#ALLOW_GENERATE_LINK_ROUTE=

# Length of time (in seconds) the URL will be valid for (defaults to 1 hour)
#AWS_EXPIRY_TIME=

#PROXY_DISCOVERY_URL=
#PROXY_REVOCATION_URL=

# KEYCLOAK
#KEYCLOAK_TOKEN_URL=
#KEYCLOAK_USERNAME=
#KEYCLOAK_PASSWORD=
#KEYCLOAK_CLIENT_ID=
#KEYCLOAK_SECRET=

#Gov.uk Notify
#NOTIFY_KEY=
#NOTIFY_TEMPLATE=
#CASEWORKER_EMAIL=
#CSV_REPORT_TEMPLATE_ID=
#CSV_REPORT_EMAIL=

#hof-rds-api
DATASERVICE_USE_HTTPS='false'
DATASERVICE_SERVICE_HOST=hof-rds-api
DATASERVICE_SERVICE_PORT_HTTPS='5000'

SEND_TO_DECS_QUEUE='offline'
